.date-dropdown__header #{dateDropdownIn}
input(type="text" class="js-date-dropdown__input date-dropdown__input js-arrival-date" placeholder="ДД.ММ.ГГГГ" readonly)  
.date-dropdown__expand-more.js-expand-more--arrival-date expand_more  
.date-dropdown__calendar-wrapper.js-date-dropdown__calendar 
  .js-calendar 