form(class="search-form" action="#" )
  .search-form__header Найдём номера под ваши пожелания
  .search-form__date-wrapper 
    include ../../form-elements/date-dropdown/date-dropdown
  .search-form__guests-wrapper
    include ../../form-elements/dropdown-guests-empty/dropdown-guests-empty
  .search-form__button-wrapper 
    include ../../form-elements/buttons/button-price