.room-cards
  .room-card--888
    +room('../../../static/image/room888.png','888','9900','145', true, true)
  .room-card--840  
    +room('../../../static/image/room840.png','840','9900','65', false, false)