body{
  margin: 0px;
  padding: 0px;
  max-width : 1440px;
  height : 100%;
  background: rgba(255, 255, 255, 1);

  }
  
  .container{
    width: 1440px;
    min-width: 320px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  .filter__header-wrapper {
     margin-bottom: 30px;
  }

  .filter__content-wrapper{
    display: flex;
  }

  .filter__cards-room-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 140px;
    width: 974px;
  }

.filter__title{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #1F2041;
margin-bottom: 21px;
}


  .filter__room-row-wrapper{
    display: flex;
    justify-content: space-between;
  }

  .filter__room-row-wrapper{
    margin-bottom: 20.5px;
  }

  .filter__side-bare-form-wrapper{
    display: flex;
    flex-direction: column;
    width: 466px;
    margin: 30px 60px 0 140px;
  }
  .filter__guests-dropdown-wrapper{
    margin-top: 20.44px;
  } 
  
  .filter__slider-wrapper{
    margin-top: 30.44px; 
    display: flex;
    flex-direction: column;
  }

  .filter__text-wrapper{  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
  margin-top: 10.56px;
}

.filter__house-rules-wrapper{
  margin-top: 30px;
}

.filter__availability-form__wrapper{
  margin-top: 12px;
}

.filter__comfort-wrapper {
  margin-top: 30.44px;
}

.filter__additional-amenities-wrapper{
  margin-top:15px;
}

.filter__pagination-wrapper{
  margin: 40px 0 70px 287px;
  width: 241px;
}

.filter__masked-field-wrapper{
  position: relative;
}

.filter__calendar-wrapper{
  position: absolute;
  z-index: 5;
  top: 74px;
  left: -27px;
}

.filter__masked-field-expand-more{
  position: absolute;
  top: 19px;
  left: 222px;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content:center;
  align-items: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}