extends ../../../templates/sample
block variables
  - var titlePage = 'Search room/Filter'
  - var masked = 'даты пребывания в отеле'
  - var dropdown = 'гости'
  - var rangeSlider = 'диапазон цены'
  - var checkboxButtons = 'правила дома'
  - var richCheckbox = 'доступность'
  - var expCheckList = 'дополнительные удобства'

block style 
  include search-room-filter.css
  include ../../../styles/dropdown/dropdown.css
  include ../../../styles/room-cards/room.css
  include ../../../blocks/headers-footers/header/header.css
  include ../../../blocks/form-elements/masked-text-field/masked-text-field.css
  include ../../../blocks/form-elements/dropdown-guests-empty/dropdown-guests-empty.css
  include ../../../blocks/form-elements/slider/slider.css
  include ../../../blocks/form-elements/checkbox-buttons/checkbox-buttons.css
  include ../../../blocks/form-elements/rich-checkbox/rich-checkbox.css
  include ../../../blocks/form-elements/dropdown-comfort-expanded/dropdown-comfort-expanded.css
  include ../../../blocks/form-elements/checkbox-list-advanced/checkbox-list-advanced.css
  include ../../../blocks/form-elements/rate-buttons/rate-buttons.css
  include ../../../blocks/form-elements/pagination/pagination.css
  include ../../../blocks/headers-footers/footer/footer.css
  include ../../../blocks/headers-footers/copyright/copyright.css
block content
  .container
    .filter__header-wrapper 
      include ../../../blocks/headers-footers/header/header
    .filter__content-wrapper
      .filter__side-bare-form-wrapper
        .filter__masked-field-wrapper 
          include ../../../blocks/form-elements/masked-text-field/masked-text-field
          .filter__masked-field-expand-more expand_more
        .filter__guests-dropdown-wrapper 
          include ../../../blocks/form-elements/dropdown-guests-empty/dropdown-guests-empty
        .filter__slider-wrapper 
          include ../../../blocks/form-elements/slider/slider
          .filter__text-wrapper Стоимость за сутки пребывания в номере
        .filter__house-rules-wrapper
          include ../../../blocks/form-elements/checkbox-buttons/checkbox-buttons  
        .filter__availability-form__wrapper
          include ../../../blocks/form-elements/rich-checkbox/rich-checkbox
        .filter__comfort-wrapper 
          include ../../../blocks/form-elements/dropdown-comfort-expanded/dropdown-comfort-expanded
        .filter__additional-amenities-wrapper
          include ../../../blocks/form-elements/checkbox-list-advanced/checkbox-list-advanced
      .filter__cards-room-wrapper 
        .filter__title Номера, которые мы для вас подобрали
        .filter__room-row-wrapper
          .room-card--888
            +room('../../../static/image/room888.png','888','9900','145', true, true)
          .room-card--840  
            +room('../../../static/image/room840.png','840','9900','65', false, false)  
          .room-card--888
            +room('../../../static/image/room980.png','980','8500','35', false, true)
        .filter__room-row-wrapper  
          .room-card--840  
            +room('../../../static/image/room856.png','856','7300','19', false, false)  
          .room-card--888
            +room('../../../static/image/room740.png','740','6000','44', false, false)
          .room-card--840  
            +room('../../../static/image/room982.png','982','5800','56', false, false)  
        .filter__room-row-wrapper  
          .room-card--888
            +room('../../../static/image/room678.png','678','5500','45', false, false)
          .room-card--840  
            +room('../../../static/image/room450.png','450','5300','39', false, false)  
          .room-card--888
            +room('../../../static/image/room350.png','350','5000','77', false, false)
        .filter__room-row-wrapper  
          .room-card--840  
            +room('../../../static/image/room666.png','666','5000','25', false, false)  
          .room-card--888
            +room('../../../static/image/room444.png','444','5000','15', false, false)
          .room-card--840  
            +room('../../../static/image/room352.png','352','5000','55', false, false)  
        .filter__pagination-wrapper 
          include ../../../blocks/form-elements/pagination/pagination-block
    .filter__footer-wrapper 
      include ../../../blocks/headers-footers/footer/footer 
    .filter__copyright-wrapper 
      include ../../../blocks/headers-footers/copyright/copyright
block scripts
  script 
    include search-room-filter.js
    include ../../../blocks/form-elements/slider/slider.js
