.buttons
  .buttons__header #{buttons}
  .buttons__block
    .buttons__background
      .buttons__background-wrapper
        include button-background
      .buttons__background-wrapper
        include button-background-opacity
    .buttons__border
      .buttons__border-wrapper
        include button-border
      .buttons__border-wrapper
        include button-border-opacity
    .buttons__text
      .buttons__text-wrapper
        include button-text
      .buttons__text-wrapper-opacity
        include button-text-opacity
    .buttons__price-wrapper 
      include button-price