body{
  margin: 0px;
  padding: 0px;
  max-width : 1440px;
  height : 1343px;
  }
  
  .container{
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  .date-dropdown__background-wrapper{
   height: 900px;
   width: 100%;
   background-image: url(../../../static/image/landing-page.png); 
  }

  .date-dropdown__search-form-wrapper{
    margin: 70px 0 0 140px;
    position: relative;
  }

  .date-dropdown__calendar-wrapper{
    z-index: 10;
    position: absolute;
    top: 190px;
    left: 30px;
  }