extends ../../../templates/sample
block variables
  - var titlePage = 'Sign in'
  - var textButton = 'создать'
  - var hrefButtonBorder = '../../../pages/website-pages/registration/registration.pug'

block style 
  include ../../../styles/dropdown/dropdown.css
  include sign-in.css
  include ../../../blocks/headers-footers/menu-burger/menu-burger.css
  include ../../../blocks/headers-footers/header/header.css
  include ../../../blocks/cards/entry-form/entry-form.css
  include ../../../blocks/form-elements/buttons/buttons.css
  include ../../../blocks/form-elements/text-field-default/text-field-default.css
  include ../../../blocks/headers-footers/footer/footer.css
  include ../../../blocks/headers-footers/footer-mobile/footer-mobile.css
  include ../../../blocks/headers-footers/copyright/copyright.css
  
block content
  .container
    .sign-in__background-wrapper
      .sign-in__header-wrapper.js-header-wrapper 
        include ../../../blocks/headers-footers/header/header
      .sign-in__form-wrapper.js-sign-in__form 
        include ../../../blocks/cards/entry-form/entry-form
    .sign-in__footer-wrapper 
      include ../../../blocks/headers-footers/footer/footer
    .sign-in__footer-mobile-wrapper
      include ../../../blocks/headers-footers/footer-mobile/footer-mobile   
    .sign-in__copyright-wrapper
      include ../../../blocks/headers-footers/copyright/copyright
block scripts
  script 
    include ../../../blocks/cards/entry-form/entry-form.js
    include ../../../blocks/headers-footers/header/header.js