body{
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
}
  
  .container{
    max-width: 1440px;
    min-width: 320px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;    
  }

  @keyframes background_change_signin {
    from {
      background-image: url(../../../static/image/sign-in.png);
    }
  
    to {
      background-image: url(../../../static/image/landing-page.png);
    }
  }

  
   .sign-in__background-wrapper{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: background_change_signin 10s infinite;
  }

  
  
  .sign-in__form-wrapper{
    margin: 172px 0 173px 529px;
    z-index: 5;
  };

  .sign-in__footer-mobile-wrapper{
    display: none;
  }
  

  @media (max-width:900px){
    .sign-in__footer-wrapper,
    .sign-in__copyright-wrapper{
      display: none;
    }
    
    .sign-in__footer-mobile-wrapper{
      display: block;
    } 
  }

@media (max-width:930px){
  .sign-in__form-wrapper{
    margin-left: 30px;
  }
}

@media (max-width:420px){
  .sign-in__form-wrapper{
    margin: 70px 20px 386px 20px;
  }
}