.copyright
  .copyright__text Copyright © 2018 Toxin отель. Все права защищены.
  .copyright__icon 
    i.fa.fa-5x.fa-twitter.fa--gradient
    i.fa.fa-5x.fa-facebook-square.fa--gradient
    i.fa.fa-5x.fa-instagram.fa--gradient
