.footer-mobile
  .footer-mobile__logo 
    img(class="header__img--logo" src="../../../static/image/logo-gradient.svg", alt="")
    img(class="header__img--toxin" src="../../../static/image/toxin.svg", alt="")

  .footer-mobile__text Copyright © 2018 Toxin отель. Все права защищены.
  .footer-mobile__icon
    i.fa.fa-5x.fa-twitter.fa--gradient
    i.fa.fa-5x.fa-facebook-square.fa--gradient
    i.fa.fa-5x.fa-instagram.fa--gradient
