.advantages
  .advantages__icons
    .advantages__icon.fa-gradient mood
    .advantages__icon.fa-gradient location_city      
  .advantages__description
    .advantages__comfort
      .advantages__name Комфорт
        span.advantages__description Шумопоглощающие стены
    .advantages__convenience
      .advantages__name Удобство
        span.advantages__description Окно в каждой из спален