.rate
  .rate__header #{rateButton}
  .rate__buttons
    .rate__stars--left
      .rate__star star
      .rate__star star
      .rate__star star
      .rate__star star
      .rate__star star_border
    .rate__stars--right
      .rate__star star
      .rate__star star
      .rate__star star
      .rate__star star
      .rate__star star
