.rich-checkbox 
  .rich-checkbox__header #{richCheckbox}
  label.rich-checkbox__label
    input.rich-checkbox__input(type="checkbox")
    .rich-checkbox__custom 
    .rich-checkbox__text
      | Широкий коридор
      .rich-checkbox__explanation.corridor Ширина коридоров в номере не менее 91 см.
  label.rich-checkbox__label
    input.rich-checkbox__input(type="checkbox")
    .rich-checkbox__custom 
    .rich-checkbox__text
      | Помошник для инвалидов
      .rich-checkbox__explanation.helper На 1 этаже вас встретит специалист  и проводит до номера.