.header__account 
  .header__logo 
    img(class="header__img--logo" src="../../../static/image/logo-gradient.svg", alt="")
    img(class="header__img--toxin" src="../../../static/image/toxin.svg", alt="")

  .header__menu--account
    +menu-header("header__menu--link", "О нас", "Услуги", "Вакансии", "Новости", "Соглашения") 
  .header__user-name 
    .header__vertical-line 
    .header__user #{userName}
