.dropdown-guests-empty 
  .dropdown-guests-empty__header #{dropdown}
  input(type="text" readonly class="dropdown-guests-empty__input" placeholder="Сколько гостей")
  .dropdown-guests-empty__expand-more expand_more
  .dropdown-guests-empty__form
    +dropdown-guests("взрослые", "дети", "младенцы", false, "применить", "0", "0","0") 