.date-dropdown__header #{dateDropdownOut}  
input(type="text" class="js-date-dropdown__input date-dropdown__input js-departure-date" placeholder="19.08.2019" readonly)
.date-dropdown__expand-more.js-expand-more--departure-date expand_more  