.header 
  .header__logo 
    img(class="header__img--logo" src="../../../static/image/logo-gradient.svg", alt="")
    img(class="header__img--toxin" src="../../../static/image/toxin.svg", alt="")

  .header__menu
    +menu-header("header__menu--link", "О нас", "Услуги", "Вакансии", "Новости", "Соглашения") 
    
  .header__buttons
    a(class="header__buttons--to-come-in" href="") Войти
    a(class="header__buttons--registration" href="") Зарегистрироваться