.dropdown-com-def
  .dropdown-com-def__text
    .dropdown-com-def__header #{dropdownComfort}
    .dropdown-com-def__condition #{deFault}
  input(type="text" readonly class="dropdown-com-def__input" placeholder="2 спальни, 2 кровати...")
  .dropdown-com-def__expand-more expand_more