@mixin expand_more {
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  align-items: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}