.dropdown-guests-empty 
  .dropdown-guests-empty__header #{dropdownGuests}
  input(type="text" readonly class="dropdown-guests-empty__input js-drop-guests-emp__input" placeholder="Сколько гостей")
  .js-guests-emp__expand-more.dropdown-guests-empty__expand-more expand_more
  .dropdown-guests-empty__form
    +dropdown-guests("взрослые", "дети", "младенцы", false, "применить", "0", "0","0") 