form(action="#" class="entry-form")
  .entry-form__header Войти
  .entry-form__login-details-wrapper 
    include ../../form-elements/text-field-default/text-field-default
    include ../../form-elements/text-field-default/text-field-default
  .entry-form__button-wrapper 
    include ../../form-elements/buttons/button-price  
  .entry-form__account-wrapper 
    .entry-form__account-text  Уже есть аккаунт на Toxin
    .entry-form__account-button-wrapper
      include ../../form-elements/buttons/button-border