form.booking-form(action="#")
  .booking-form__header 
    .booking-form__number № 
      span.booking-form__value 888 
      span.booking-form__luxury люкс
    .booking-form__price 9 990₽ 
      span.booking-form__per-day в сутки
  .booking-form__date-wrapper 
    .booking-form__arrival-wrapper
      include ../../form-elements/date-dropdown/arrival
    .booking-form__departure-wrapper
      include ../../form-elements/date-dropdown/departure
  .booking-form__guests-wrapper 
    include ../../form-elements/dropdown-guests-filled-in/dropdown-guests-filled-in
  .booking-form__cost-calculation-wrapper
    .booking-form__cost-of-accommodation
      .booking-form__price-per-period 9 990₽ х 4 суток
      .booking-form__total-cost 39 960₽
    .booking-form__cost-of-services
      .booking-form__service-fee Сбор за услуги: скидка 2 179₽
        span.booking-form__info-button.services-fee i
      .booking-form__amount-for-services 0₽
    .booking-form__additional
      .booking-form__additional-services-fee Сбор за дополнительные услуги
        span.booking-form__info-button.additional-services-fee i   
      .booking-form__amount-for-add-services 300₽
    .booking-form__final-cost
      .booking-form__total--text Итого
      .booking-form__total--val 38 081₽
  .booking-form__button-wrapper
    include ../../form-elements/buttons/button-price
