.logo
  img(src="../../static/image/logo__circle.svg"  class="logo__circle")
  img(src="../../static/image/logo__curve_left.svg"  class="logo__curve_left" )
  img(src="../../static/image/logo__curve_rieght.svg"  class="logo__curve_reight")
       
    