body{
  width: 1440px;
  height: 900px;
  padding: 0px;
  margin:0px;
  background: rgba(255, 255, 255, 1);
}

.container {
  max-width: 1132px;
  margin: 67px 158px 145px 150px;
}

.content__wrapper {
  display: flex;
  justify-content: space-between;
}
