extends ../../../templates/sample
block variables 
  - var titlePage = 'Colors & Type'
block style       
  include ../../../blocks/colors-type/squares/squares.css
  include ../../../blocks/colors-type/logo/logo.css
  include ../../../blocks/colors-type/text-examples/text-examples.css
  include colors-type.css
  
  
block content
  .logo__wrapper
    include ../../../blocks/colors-type/logo/logo
  .container
    .content__wrapper
      include ../../../blocks/colors-type/squares/squares
      include ../../../blocks/colors-type/text-examples/text-examples
      
