.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 44px;
}

.like__header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 16px;
}

.like__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.like--none-checked {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  cursor: pointer;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.like--checked {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #bc9cff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
}

.like__favorite--none-checked::before {
  width: 18px;
  height: 18px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(31, 32, 65, 0.25);
  position: absolute;
  z-index: 1;
  left: 0px;
  content: 'favorite_border';
}

.like__favorite--checked::before {
  width: 18px;
  height: 18px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(31, 32, 65, 0.25);
  position: absolute;
  z-index: 1;
  left: 0px;
  content: 'favorite';
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.like__count--none-checked {
  width: 6px;
  height: 13px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: rgba(31, 32, 65, 0.25);
  position: absolute;
  width: 6px;
  height: 13px;
  top: 3px;
  left: 18px;
  z-index: -1;
}

.like__count--checked {
  width: 6px;
  height: 13px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #bc9cff;
  position: absolute;
  width: 6px;
  height: 13px;
  top: 3px;
  left: 14px;
  z-index: 1;
}

.like--none-checked:hover {
  border: 1px solid #bc9cff;
}

.like--none-checked:hover .like__count--none-checked {
  color: #bc9cff;
}

.like--none-checked:hover .like__favorite--none-checked::before {
  content: 'favorite';
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.like--checked:hover {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.like--checked:hover .like__count--checked {
  color: rgba(31, 32, 65, 0.25);
}

.like--checked:hover .like__favorite--checked::before {
  content: 'favorite_border';
  background: rgba(31, 32, 65, 0.25);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.js-favorite {
  width: 18px;
  height: 18px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(31, 32, 65, 0.25);
  position: absolute;
  z-index: 1;
  left: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.js-like--none-checked {
  border: 1px solid #bc9cff;
}
/*# sourceMappingURL=like-buttons.css.map */