.checkbox-list-advanced
  .checkbox-list-advanced__title  
    .checkbox-list-advanced__header #{expCheckList}
    .js-checkbox-list-advanced__expand-more.checkbox-list-advanced__expand-more expand_more
  .checkbox-list-advanced__check.js-checkbox-list-advanced  
    label.checkbox-list-advanced__label
      input.checkbox-list-advanced__input(type="checkbox")
      .checkbox-list-advanced__custom
      | Завтрак  
    label.checkbox-list-advanced__label
      input.checkbox-list-advanced__input(type="checkbox" checked="")
      .checkbox-list-advanced__custom
      | Письменный стол
    label.checkbox-list-advanced__label
      input.checkbox-list-advanced__input(type="checkbox" checked="")
      .checkbox-list-advanced__custom
      | Стул для кормления
    label.checkbox-list-advanced__label
      input.checkbox-list-advanced__input(type="checkbox" checked="")
      .checkbox-list-advanced__custom
      | Кроватка
    label.checkbox-list-advanced__label
      input.checkbox-list-advanced__input(type="checkbox")
      .checkbox-list-advanced__custom
      | Телевизор
    label.checkbox-list-advanced__label
      input.checkbox-list-advanced__input(type="checkbox")
      .checkbox-list-advanced__custom
      | Шампунь
      
