mixin reviews(path,name,time)
  .reviews__img
    img(src=path)
  .reviews__like-button
    include ../../../blocks/form-elements/like-buttons/like-none-checked 
  .reviews__user
    p.reviews-user__name #{name}
    p.reviews-user__time #{time}
