.datepicker-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.datepicker--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.datepicker--nav-title,
.datepicker--nav-title i {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #1F2041;
  margin-top: 2px;
}

.arrov-prev {
  margin-left: 20px;
  font-family: Material Icons;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 24px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.arrov-next {
  margin-right: 20px;
  font-family: Material Icons;
  font-size: 24px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.datepicker--days-names {
  max-width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 20px 0 20px;
}

.datepicker--day-name {
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #BC9CFF;
}

.datepicker--cells {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 11px 18px 0 19px;
}

.datepicker--cell-day {
  width: 40px;
  height: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}

.-other-month- {
  color: rgba(31, 32, 65, 0.25);
}

.-current- {
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  color: #ffffff;
}

.-focus- {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.25)), to(rgba(139, 164, 249, 0.25)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
  border-radius: 22px;
  cursor: pointer;
}

.-selected- {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #ffffff;
  z-index: 6;
}

.-range-from-::before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.25)), to(rgba(139, 164, 249, 0.25)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50% 0 0 50%;
  border-right: none;
  z-index: -2;
}

.-range-to-::before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.25)), to(rgba(139, 164, 249, 0.25)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 0 50% 50% 0;
  border-left: none;
  z-index: -6;
}

.-in-range- {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.25)), to(rgba(139, 164, 249, 0.25)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
}

.-in-range-.-focus- {
  border-radius: 0px;
}

.-focus-.-range-to- {
  border-radius: 0 50% 50% 0;
}

.-focus-.-range-from- {
  border-radius: 50% 0 0 50%;
}

.-selected-.-focus-.-range-to- {
  border-radius: 50%;
}

.-selected-.-focus-.-range-from- {
  border-radius: 50%;
}

.-range-to-::before.-selected- {
  color: #fff;
  border-radius: 50%;
}

.datepicker__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.datepicker__button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
  color: #bc9cff;
}

@media (min-width: 420px) {
  .datepicker-inline {
    width: 318px;
  }
}

@media (max-width: 419px) {
  .datepicker--cell-day {
    width: 39px;
  }
  .datepicker--cells {
    margin: 11px 17px 0 18px;
  }
}

@media (max-width: 412px) {
  .datepicker--cell-day {
    width: 38px;
  }
}

@media (max-width: 405px) {
  .datepicker--cell-day {
    width: 37px;
  }
}

@media (max-width: 398px) {
  .datepicker--cell-day {
    width: 36px;
  }
}

@media (max-width: 390px) {
  .datepicker--cell-day {
    width: 35px;
  }
}

@media (max-width: 383px) {
  .datepicker--cell-day {
    width: 34px;
  }
}

@media (max-width: 376px) {
  .datepicker--cell-day {
    width: 33px;
  }
}

@media (max-width: 369px) {
  .datepicker--cell-day {
    width: 32px;
  }
}

@media (max-width: 362px) {
  .datepicker--cell-day {
    width: 31px;
  }
}

@media (max-width: 355px) {
  .datepicker--cell-day {
    width: 30px;
  }
}

@media (max-width: 349px) {
  .datepicker--cell-day {
    width: 29px;
  }
}

@media (max-width: 341px) {
  .datepicker--cell-day {
    width: 28px;
  }
}

@media (max-width: 334px) {
  .datepicker--cell-day {
    width: 27px;
  }
}

@media (max-width: 327px) {
  .datepicker--cell-day {
    width: 26px;
  }
}

@media (max-width: 321px) {
  .datepicker--cell-day {
    width: 25px;
  }
}
/*# sourceMappingURL=calendar.css.map */