body{
  margin: 0px;
  padding: 0px;
  max-width : 1440px;
  height : 100%;
  }
  
  .container{
    width: 1440px;
    min-width: 320px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  .registartion__header-wrapper {
    z-index: 5;
  }

  .registartion__background-wrapper{
    background-image: url('../../../static/image/registration.png');
    height: 100%;
    width: 100%;
    //position: relative;
  }

  .registration__form-wrapper {
  z-index: 5;   
    margin: 19px 577px;
  }