extends ../../../templates/sample
block variables
  - var titlePage = 'Registration'
  - var textButton = 'войти'
  - var masked = 'дата рождения'
  - var hrefButtonBorder = '../../../pages/website-pages/sign-in/sign-in.pug'

block style 
  include ../../../styles/dropdown/dropdown.css
  include registration.css
  include ../../../blocks/headers-footers/header/header.css
  include ../../../blocks/cards/registration-form/registration-form.css
  include ../../../blocks/form-elements/buttons/buttons.css
  include ../../../blocks/form-elements/radio-buttons/radio-buttons.css
  include ../../../blocks/form-elements/toogle/toogle.css
  include ../../../blocks/form-elements/masked-text-field/masked-text-field.css
  include ../../../blocks/form-elements/text-field-default/text-field-default.css
  include ../../../blocks/headers-footers/footer/footer.css
  include ../../../blocks/headers-footers/copyright/copyright.css
block content
  .container
    .registartion__background-wrapper
      .registartion__header-wrapper.js-header-wrapper 
        include ../../../blocks/headers-footers/header/header
      .registration__form-wrapper 
        include ../../../blocks/cards/registration-form/registration-form
    .registration__footer-wrapper 
      include ../../../blocks/headers-footers/footer/footer
    .registration__copyright-wrapper
      include ../../../blocks/headers-footers/copyright/copyright
block scripts
  script 
    include registration.js
    include ../../../blocks/cards/registration-form/registration-form.js 