.text-field-dropdown
  .text-field-dropdown__header #{dropdownGuests}
  input(type="text" class="text-field-dropdown__input" placeholder="Сколько гостей")
  .text-field-dropdown__expand-more expand_more  