.dropdown-guests-filled-in 
  .dropdown-guests-filled-in__header #{dropdownGuests}
  input(type="text" readonly class="dropdown-guests-filled-in__input js-guests-filled-in__input" placeholder="3 гостя")
  .dropdown-guests-filled-in__expand-more.js-guests-filled-in__expand-more expand_more
  .dropdown-guests-filled-in__form.js-dropdown-guests-filled-in__form
    +dropdown-guests("взрослые", "дети", "младенцы", "очистить", "применить", "2", "1","0") 