@import "../header/hader-mixins.scss";

.burger-wrapper{
  background: #fff;
  display:flex;
  flex-direction: column;
} 

.burger__header-wrapper{
  margin: 14px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger__close-button{
  font-size: 46px;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8ba4f9;
  border-radius: 50%;
}

.burger__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.menu-burger__img--logo{
  margin-right: 12.5px;
}

.burger__menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__burger-ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.header__menu-burger--li{
  margin-bottom: 20px;
}

.header__menu-burger--link{
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.header__menu-burger--link:hover{
  color: rgba(31, 32, 65, 0.75);
}


.burger__close-button{
  cursor: pointer;
}


.burger__buttons-wrapper{
  margin: 0 auto;
}

.buttons-burger{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger__buttons--to-come-in{
  @include button;
  width: 85px;
  margin-bottom: 20px;  
}

.burger__buttons--registration{
  @include button;
  width: 196px;
  background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
  color:#ffffff;
  margin-bottom: 20px;  
}

.burger__buttons--to-come-in:hover{
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)) border-box;
  border: 2px solid transparent;
  }


.burger__buttons--registration:hover{
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)) border-box;
  border: 2px solid transparent;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}
