form(class="search-form" action="#" )
  .search-form__header Найдём номера под ваши пожелания
  .search-form__date-wrapper.js-search-form__date 
    .search-form__arrival-wrapper
      include ../../form-elements/date-dropdown/arrival
    .search-form__departure-wrapper
      include ../../form-elements/date-dropdown/departure
        
  .search-form__guests-wrapper.js-guests-wrapper
    include ../../form-elements/dropdown-guests-filled-in/dropdown-guests-filled-in
  .search-form__button-wrapper.js-search-form__button 
    include ../../form-elements/buttons/button-price