@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  max-width: 1440px;
  height: 100%;
  background: white;
}

.container {
  width: 1440px;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.room-details__images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-details__main-image {
  background-image: url(../../../static/image/room-details/888.png);
  height: 485px;
  width: 981px;
}

.room-details__additional-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.room-details__additional-image--top {
  background-image: url(../../../static/image/room-details/888-top.png);
  height: 243px;
  width: 461px;
}

.room-details__additional-image--bottom {
  background-image: url(../../../static/image/room-details/888-bottom.png);
  height: 243px;
  width: 461px;
}

.room-details__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 65px 141px 49px 139px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*свойства иконок*/
.material-icons-outlined {
  width: 48px;
  height: 48px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 10px;
}

.room-details__title {
  margin-top: 3px;
}

/*градиент для иконок*/
.fa-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.room-details__gorizont-line {
  background: rgba(31, 32, 65, 0.1);
  height: 1px;
  width: 280px;
  margin-top: 17px;
  margin-bottom: 19px;
}

.room-details__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 51px;
  margin-right: 70px;
}

.room-details__icon-wrapper:first-child {
  margin-bottom: 19px;
}

.room-details__icon-wrapper:last-child {
  margin-bottom: 32px;
}

/*свойства подзаголовков страницы*/
.room-details__title,
.room-details__impression--title,
.room-details__review--title,
.room-details__rules-title,
.room-details__cansel-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #1F2041;
  margin-bottom: 20px;
}

.room-details__description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  width: 223px;
  height: 48px;
}

.room-details__description--title {
  font-weight: 700;
  text-align: left;
  white-space: pre-wrap;
}

.room-details__reviews-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-details__review-img {
  border-radius: 50%;
  width: 47px;
  height: 47px;
  background-position: -20px -10px;
}

.room-details__review-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
  width: 48px;
}

.room-details__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.room-details__review:not(:last-child) {
  margin-bottom: 75px;
}

.room-details__review-like {
  margin: 13px 0 0 5px;
}

.room-details__reviews-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.room-details__review-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.room-details__review--number {
  margin-left: 347px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}

.room-details__review-content:not(:last-child) {
  margin-bottom: 23px;
}

.room-details__review-user {
  width: 220px;
  height: 48px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-bottom: 10px;
  font-weight: 700;
}

.room-details__review-time {
  font-weight: 400;
}

.room-details__review-text {
  width: 653px;
  height: 72px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.img--men {
  background-image: url(../../../static/image/room-details/men.svg);
}

.img--women {
  background-image: url(../../../static/image/room-details/women.svg);
}

.room-details__impression-intelligence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-details__impression {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 311px;
  height: 170px;
  margin-top: 3px;
  margin-left: 11px;
}

.room-details__impression--diagramm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.room-details__rules-cansel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-details__rules {
  width: 292px;
  margin-right: 70px;
}

.room-details__rules-title {
  margin: 10px 0 0 20px;
}

.room-details__rules-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-details__rules-marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.room-details__marker {
  background-image: url(../../../static/image/room-details/marker.svg);
  width: 10px;
  height: 10px;
  margin-bottom: 24px;
}

.room-details__cansel {
  margin-top: 9px;
}

.room-details__cansel-content {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  width: 341px;
  height: 140px;
  color: rgba(31, 32, 65, 0.75);
}

.room-details__rules-ul {
  list-style: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding: 0;
  margin-top: 18px;
  margin-left: 10px;
}

.room-details__rules-li {
  margin-bottom: 10px;
}

.room-details__rules-li:last-child {
  white-space: wrap;
  width: 240px;
}

.js-li {
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.js-li:first-child {
  list-style-image: url(../../../static/image/room-details/orange.svg);
}

.js-li:nth-child(2) {
  list-style-image: url(../../../static/image/room-details/green.svg);
}

.js-li:nth-child(3) {
  list-style-image: url(../../../static/image/room-details/blue.svg);
}

.js-li:last-child {
  list-style-image: url(../../../static/image/room-details/grey.svg);
}

.room-details__impression--votes {
  position: absolute;
  top: 67px;
  left: 28px;
  z-index: -2;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #BC9CFF;
}

.room-details__calendar-wrapper {
  position: absolute;
  top: 780px;
  left: 950px;
  display: none;
}

.room-details__diagramm--legend {
  margin-top: 13px;
  margin-left: 4px;
}
/*# sourceMappingURL=room-details.css.map */