@import 'mixin-room-details.scss';

body{
  margin: 0px;
  padding: 0px;
  max-width : 1440px;
  height : 100%;
  background: rgba(255, 255, 255, 1);

}

.container{
  width: 1440px;
  min-width: 320px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.room-details__images-wrapper{
    display: flex;    
}

.room-details__main-image{
  background-image: url(../../../static/image/room-details/888.png);
  height: 485px;
  width: 981px;
}

.room-details__additional-images{
  display: flex;
  flex-direction: column;
}

.room-details__additional-image--top{
  background-image: url(../../../static/image/room-details/888-top.png);
  height: 243px;
  width: 461px;
}

.room-details__additional-image--bottom{
  background-image: url(../../../static/image/room-details/888-bottom.png);
  height: 243px;
  width: 461px;
}

.room-details__content-wrapper{
  display: flex;
  margin: 70px 140px 90px 140px;
  justify-content: space-between;
}


.room-details__icons-wrapper{
  width: 291px;
  margin: 0 70px 30px 0;
}

/*свойства иконок*/
.material-icons-outlined{
  width: 48px;
  height: 48px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

/*градиент для иконок*/
.fa-gradient{
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(188, 156, 255, 1)),
    to(rgba(139, 164, 249, 1))
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.room-details__gorizont-line{
  background: rgba(31, 32, 65, 0.1);
  height: 1px;
  width: 280px;
  margin: 17px 0 23px 0;
}

.room-details__icon-wrapper{
  display: flex;
  align-items: center;
  width: 280px;
  height: 51px;
}

/*свойства подзаголовков страницы*/
.room-details__title,
.room-details__impression--title,
.room-details__review--title,
.room-details__rules-title,
.room-details__cansel-title{
  @include title;
}

.room-details__description{
@include text;
width: 223px;
height: 48px;
}

.room-details__description--title{
  font-weight: 700;
  text-align: left;
  white-space: pre-wrap; 
}

.room-details__reviews-wrapper{
  display: flex;
  
}

.room-details__review-img{
  
  border-radius: 50%;
  width: 47px;
  height: 47px;
  background-position: -20px -10px;
}

.room-details__review-elements {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  width: 48px;
}

.room-details__review{
  display: flex;
  flex-direction: column;
}

.room-details__review:not(:last-child){
  margin-bottom: 75px;
}

.room-details__review-like{
  margin: 12px 0 0 3px;
}

.room-details__reviews-content-wrapper{
  display: flex;
  flex-direction: column;
}

.room-details__review-content{
  display: flex; 
  flex-direction: column;
}

.room-details__review--number{
  margin-left: 347px;
  font-weight: 400;
font-size: 14px;
line-height: 14px;
text-align: right;
color: rgba(31, 32, 65, 0.5);
}

.room-details__review-content:not(:last-child){
  margin-bottom: 23px; 
}


.room-details__review-user{
width: 220px;
height: 48px;
font-weight: 700;
@include text;
margin-bottom: 10px;
}

.room-details__review-time{
  font-weight: 400;
}

.room-details__review-text{
width: 653px;
height: 72px;
@include text;
}

.img--men{
  background-image: url(../../../static/image/room-details/men.svg);

}
.img--women{
  background-image: url(../../../static/image/room-details/women.svg);

}

.room-details__impression-intelligence{
  display: flex;
}

.room-details__impression{
  display: flex;
  flex-direction: column;
  width: 311px;
  height: 170px;
}

.room-details__impression--diagramm{
  display: flex;   
  position : relative;
} 

.room-details__rules-cansel{
  display:flex;
}

.room-details__rules{
  width: 292px;
  margin-right: 70px;
}

.room-details__rules-title{
  margin-left: 15px;
}

.room-details__cansel-content{
  @include text;
   width: 341px;
  height: 140px; 
  color: rgba(31, 32, 65, 0.75); 
}

.room-details__rules-ul{
  list-style-image: url("../../../static/image/room-details/marker.svg");
  @include text;
  padding: 0;
  margin-left: 15px;
}

.room-details__rules-li:last-child{
  white-space: wrap;
  width: 230px;
}

.js-li{
cursor: pointer;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: rgba(31, 32, 65, 0.75);
}

.js-li:first-child{
list-style-image:url(../../../static/image/room-details/orange.svg);
}
.js-li:nth-child(2){
  list-style-image:url(../../../static/image/room-details/green.svg);
}
.js-li:nth-child(3){
  list-style-image:url(../../../static/image/room-details/blue.svg);
  }
.js-li:last-child{
  list-style-image:url(../../../static/image/room-details/grey.svg);
}

.room-details__impression--votes{
position: absolute;
top: 65px;
left: 28px;
z-index: -2;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
color: #BC9CFF;
}

.room-details__calendar-wrapper{
  position: absolute;
  top: 780px;
  left: 950px;
  display:none;
}