@import 'mixin-room-details.scss';
 *,
 ::before,
 ::after{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 }

body{
  font-family: Montserrat, Arial, sans-serif;
}


.container{
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}


/* ------------Стили фоновых изображений-------------- */
.room-details__images-wrapper{
  display: flex;
  max-width :1440px;
  height: 485px;
}

.room-details__basic-image{
width: 68%;
height: 100%;
object-fit: cover;
}

.room-details__helper-images-wrapper{
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 485px;
}

.room-details__helper-top-image{
  width: 100%;
  height: 100%;
  margin-bottom: -2px;
  object-fit: cover;
}

.room-details__helper-bottom-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ------------Стили контентной части-------------- */
.room-details__content-wrapper{
  display: flex;
  margin: 65px 140px 49px 140px;
  justify-content: space-between;
}

.room-details__form-wrapper{
  margin-top: 2px;
}

/*свойства подзаголовков страницы*/
.room-details__title--intelligence,
.room-details__title--impression,
.room-details__title--review,
.room-details__title--rules,
.room-details__title--cansel{
  @include title;
}

.room-details__impression-intelligence{
  display: flex;
}

/* ------------свойства блока <<Сведения о номере>>----------- */
.material-icons-outlined{
  width: 48px;
  height: 48px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

.room-details__title--intelligence{
  margin-top: 3px;
}

/*градиент для иконок*/
.fa-gradient{
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(188, 156, 255, 1)),
    to(rgba(139, 164, 249, 1))
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.room-details__gorizont-line{
  background: rgba(31, 32, 65, 0.1);
  height: 1px;
  margin-top: 17px;
  margin-bottom: 19px;
  width: 280px;
}

.room-details__icon-wrapper{
  display: flex;
  align-items: center;
  height: 51px;
  margin-right:70px; 
}

.room-details__icon-wrapper:first-child{
  margin-bottom: 19px;
}

.room-details__icon-wrapper:last-child{
  margin-bottom: 32px;
}


.room-details__description{
@include text;
height: 48px;
width: 233px;
}

.room-details__description--title{
  font-weight: 700;
  text-align: left;
  white-space: pre-wrap; 
}

/* ------------свойства блока <<Впечатления о номере>>----------- */

.room-details__impression{
  display: flex;
  flex-direction: column;
  height: 170px;
  width: 311px;
  margin-top: 5px;
  
}

.room-details__impression--diagramm{
  display: flex;   
  position : relative; 
  justify-content: space-between;
}

.room-details__diagramm--legend{
  padding-top: 15px;
  margin-top: 13px;
  margin-left: 4px;
  }

.js-li{
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  }
  
  .js-li:first-child{
  list-style-image:url(../../../static/image/room-details/orange.svg);
  }
  .js-li:nth-child(2){
    list-style-image:url(../../../static/image/room-details/green.svg);
  }
  .js-li:nth-child(3){
    list-style-image:url(../../../static/image/room-details/blue.svg);
    }
  .js-li:last-child{
    list-style-image:url(../../../static/image/room-details/grey.svg);
  }
  
  .room-details__impression--votes{
  position: absolute;
  top: 67px;
  left: 28px;
  z-index: -2;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #BC9CFF;
  }

/* ------------свойства блока <<Отзывы>>----------- */

.room-details__visitor-reviews{
  display:flex;
  flex-direction:column;
}

.room-details__reviews-wrapper{
  display: flex;
  flex-direction: column;  
}

.room-details__review-img{
  border-radius: 50%;
  width: 47px;
  height: 47px;
  background-position: -22px -10px;
}

.room-details__review-elements {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.room-details__review{
  display: flex;
  flex-direction: column;
}

.room-details__review:not(:last-child){
  margin-bottom: 75px;
}

.room-details__review-like{
  margin-top: 13px;
}

.room-details__reviews-content-wrapper{
  display: flex;
  flex-direction: column;
}

.room-details__review-content{
  display: flex;
  flex-direction: column;
  max-width: 654px;
}

.room-details__title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-details__review--number{
font-weight: 400;
font-size: 14px;
line-height: 14px;
text-align: right;
color: rgba(31, 32, 65, 0.5);
}

.room-details__review-content:not(:last-child){
  margin-bottom: 23px; 
}


.room-details__review-user{
max-width: 222px;
@include text;
margin-bottom: 10px;
font-weight: 700;
}

.room-details__review-time{
  font-weight: 400;
}

.room-details__review-text{
@include text;
}

.img--men{
  background-image: url(../../../static/image/room-details/men.svg);

}
.img--women{
  background-image: url(../../../static/image/room-details/women.svg);

}

.room-details__rules-cansel{
  display:flex;
}

.room-details__rules{
  margin-right: 100px;
  max-width: 260px;
}

.room-details__title--rules{
  margin: 8px 0 0 18px;
}

.room-details__rules-content{
  display: flex;
}  

.room-details__rules-marker {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.room-details__marker{
  background-image: url(../../../static/image/room-details/marker.svg);
  width: 10px;
  height: 10px;
  margin-bottom: 24px;
}

.room-details__cansel{
  margin-top: 9px;
  max-width: 341px;
}

.room-details__cansel-content{
  @include text;
  height: 140px; 
  color: rgba(31, 32, 65, 0.75); 
}

.room-details__rules-ul{
  list-style:none;
  @include text;  
  padding: 0;
  margin-top: 18px;
  margin-left: 10px;
}

.room-details__rules-li{
  margin-bottom: 10px;
} 

.room-details__rules-li:last-child{
  white-space: wrap;
}

.room-details__calendar-wrapper{
  position: absolute;
  top: 780px;
  left: 950px;
  display:none;
}

.room-details__footer-mobile-wrapper{
  display: none;
}

@import 'room-details-media.scss';