@import "hader-mixins.scss";

.header {
  display: flex;
  height: 70px;
  max-width: 1440px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header__logo {
  height: 40px;
  width: 106px;
  display: flex;
  align-items: center;
  margin: 14px 244px 0 140px;
  cursor: pointer;
  
}

.header__img--logo {
 width: 40px;
  height: 40px;
  margin-right: 12.5px;
}

.header__img--toxin{
  height: 13px;
  width: 53px;
  padding-left: -2px;
}

.header__menu {
  display: flex;
  align-items: center;
}
.header__ul {
  display: flex;
  list-style-type: none;
}

.header__menu--link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 20px;
}

.header__menu--link:hover{
  color: rgba(31, 32, 65, 0.75);
}


.header__menu--img {
  @include expand_more;
  width: 24px;
  height: 21px;
  display: flex;
  justify-content: flex-start;
  padding-left: 1px;
  margin-right: 20px;

}

.header__ul--service,
.header__ul--agreements{
  margin-right: 0px;
}

.header__ul--about-us{
  padding-right: 2px; 
}

.header__burger-wrapper{
  max-width: 1440px;
  display:none;
}

.header__burger{
  margin: 16px 0 18px 0;
  background: #8ba4f9;
  color: #fff;
  display: none;  
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.fa-bars{
   margin-left: 3px;
 }

.header__buttons-wrapper{
margin-top : 15px;
}

.header__buttons{
  display: flex;
  align-items: center;   
}

.header__buttons--to-come-in{
  @include button;
  width: 85px;
  margin-right : 16px;  
}

.header__buttons--registration{
  @include button;
  width: 196px;
  background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
  color:#ffffff;
}

.header__buttons--to-come-in:hover{
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)) border-box;
  border: 2px solid transparent;
  }


.header__buttons--registration:hover{
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)) border-box;
  border: 2px solid transparent;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}




@media (max-width: 1320px){
  .header__logo{
    margin-left: 20px;
    }
}

@media (max-width: 1220px){
  .header__logo{
    margin-right: 100px;
  }
}

@media (max-width: 1080px){
  .header__logo{
    margin-right: 10px;
  }
}

@media (max-width: 992px){
  .header__buttons-wrapper,.header__menu--visible{
    display: none;
  }
  .header__burger{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 20px ;
  }
  .header{
    justify-content: space-between;
  }  
}
