@import "hader-mixins.scss";

.header {
  display: flex;
  height: 70px;
  max-width: 1440px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header__logo {
  height: 40px;
  width: 106px;
  display: flex;
  align-items: center;
  margin: 14px 244px 0 140px;
  cursor: pointer;
  
}

.header__img--logo {
 width: 40px;
  height: 40px;
  margin-right: 12.5px;
}

.header__img--toxin{
  height: 13px;
  width: 53px;
  padding-left: -2px;
}

.header__menu {
  display: flex;
  align-items: center;
}
.header__ul {
  display: flex;
  list-style-type: none;
}

.header__menu--link {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 20px;
}

.header__menu--link:hover{
  color: rgba(31, 32, 65, 0.75);
 
}

.header__menu--img {
  @include expand_more;
  width: 24px;
  height: 21px;
  display: flex;
  justify-content: flex-start;
  padding-left: 1px;
  margin-right: 20px;

}

.header__ul--about-us{
  padding-right: 2px; 
}

.header__ul--service {
  margin-right: 0;
}

.header__ul--agreements {
  margin-right: 0;
}

.header__menu--burger{
  margin: 18px 0 18px 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(188, 156, 255, 1)),
    to(rgba(139, 164, 249, 1))
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
display: none;  
font-size: 30px;
}

.header__buttons{
  display: flex;
  align-items: center;
 position: relative; 
}


.header__buttons--to-come-in{
  position: absolute;
  top: 15px;
  @include button;
  width: 87px;
  left: -2px;
  
}

.header__buttons--registration{
  position: absolute;
  @include button;
  width: 196px;
  top: 15px;
  left: 105px;
  background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
  color:#ffffff;
}

.header__buttons--to-come-in:hover{
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)) border-box;
  border: 2px solid transparent;
  }


.header__buttons--registration:hover{
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)) border-box;
  border: 2px solid transparent;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}


/* @media (max-width: 1400px){
  .header__logo{
    margin-left: 35px;
    
  }
  .container{
    max-width: 1320px;
  }
} */

@media (max-width: 1320px){
  .header__logo{
    margin-left: 30px;
    }
}

@media (max-width: 1220px){
  .header__logo{
    margin-right: 100px;
  }
}

@media (max-width: 1080px){
  .header__logo{
    margin-right: 10px;
  }
}

@media (max-width: 992px){
  .header__buttons--visible,.header__menu--visible{
    display: none;
  }
  .header__menu--burger{
    display: block;
    margin-right: 30px ;
  }
  
  .header{
    justify-content: space-between;
  }
  
}

