.header__burger-wrapper.js-burger-wrapper
  include ../../../blocks/headers-footers/menu-burger/menu-burger    
.header.js-header    
  .header__logo.js-header__logo
    a(href="../../../pages/website-pages/landing-page/landing-page.pug")
      img(class="header__img--logo" src="../../../static/image/logo-gradient.svg")
    a(href="../../../pages/website-pages/landing-page/landing-page.pug")  
      img(class="header__img--toxin js-img--toxin" src="../../../static/image/toxin.svg")

  a.header__burger.js-header__burger
    span(class="fa fa-bars") 
  .header__menu.header__menu--visible
    +menu-header("header__ul","header__menu--link",false, "О нас", 
    "Услуги", "Вакансии", "Новости", "Соглашения","expand_more") 
  .header__buttons-wrapper
    .header__buttons.js-header__buttons
      a(class="header__buttons--to-come-in js-buttons--to-come-in" 
      href="../../../pages/website-pages/sign-in/sign-in.pug") Войти
      a(class="header__buttons--registration js-buttons--registration" 
      href="../../../pages/website-pages/registration/registration.pug") Зарегистрироваться
  