.subscription-text-field
  .subscription-text-field__header #{subscriptionTextField}
  input(type="email" class="subscription-text-field__input" placeholder="Email")
  .subscription-text-field__expand-more.material-icons-outlined expand_more