.text-examples
  .text-examples__elements-name
    .text-examples--h1.text-examples--opacity.text-examples__indent--h1 H1
    .text-examples--h2.text-examples--opacity.text-examples__indent--h2 H2
    .text-examples--h3.text-examples--opacity H3
    .text-examples--body.text-examples--opacity Body
  .text-examples__content
    .text-examples--h1 This one is the sub-section or widget title
    .text-examples--h2 Next one is the item title inside widgets
    .text-examples--h3 Next one is the item title inside widgets
    .text-examples--body This is the body text which is used for most 
      br
      |of the design, like paragraphs, lists, etc.