.squares 
  .squares__group
    .square.square--darck-shade-100
    .square__signature 
      h2.square__header 
        strong Dark Shade 100%
        br
        | #1F2041
  .squares__group
    .square.square--darck-shade-75
    .square__signature 
      h2.square__header 
        strong Dark Shade 75%
        br
        | #1F2041
  .squares__group
    .square.square--darck-shade-50
    .square__signature 
      h2.square__header 
        strong Dark Shade 50%
        br      
        | #1F2041
  .squares__group
    .square.square--darck-shade-25
    .square__signature 
      h2.square__header 
        strong Dark Shade 25%
        br
        | #1F2041            
  .squares__group
    .square.square--darck-shade-5
    .square__signature 
      h2.square__header 
        strong Dark Shade 5%
        br
        | #1F2041
  .squares__group
    .square.square--purple
    .square__signature 
      h2.square__header 
        strong Purple
        br
        | #BC9CFF
  .squares__group
    .square.square--green
    .square__signature 
      h2.square__header 
        strong Green
        br
        | #6FCF97

  