.filter-date-dropdown
  .filter-date-dropdown__header #{filterDateDropdown}
  input(type="text" class="filter-date-dropdown__input" placeholder="19 авг - 23 авг")
  .filter-date-dropdown__expand-more.material-icons-outlined expand_more  