.bullet
  .bullet__header #{bulletList} 
  .bullet__list
    .bullet__marker 
      .marker   
      .marker 
      .marker 
    ul.bullet__ul
      li.bullet__li Нельзя с питомцами
      li.bullet__li Без вечеринок и мероприятий
      li.bullet__li Время прибытия — после 13:00, а выезд до 12:00
    