.toogle
  .toogle__header #{toogle} 
  .toogle__buttons
    label.toogle__label
      input(type="checkbox" class="toogle__input--checked" checked="" )
      .toogle--checked 
      | Получать спецпредложения 
    label.toogle__label
      input(type="checkbox" class="toogle__input--none-checked" autocomplete="off")
      .toogle--none-checked 
      | Получать спецпредложения 