.text-field-hover-focus
  .text-field-hover-focus__signature 
    .text-field-hover-focus__signature--header #{textField}
    .text-field-hover-focus__signature--hover-focus #{hoverFocus}
  input(type="text" class="text-field-hover-focus__input" placeholder="This is pretty awesome")  