.js--range-slider
  .range-slider__text
    label(for='js--amount' class='range-slider__header') #{rangeSlider}
    input(type='text' readonly='' class='js--range-slider__price js--amount')
  .js--range-slider__body
  .range-slider__signature Cnjbvjcnm pf cenrb

  
