.js--range-slider{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.range-slider__text{
  display: flex;
  margin-bottom: 20px;
}


.range-slider__header{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041; 
  margin-right: 69px;
}

.js--range-slider__price {
  border: 0;
  padding: 0;
  white-space: nowrap;
  width: 102px;
  height: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}


.js--range-slider__guide {
  width: 266px;
  height: 6px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}

.js--range-slider__body .js--range-slider__circle {
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.js--range-slider__illumination {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.range-slider__signature {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: rgba(31, 32, 65, 0.5);
margin-top: 10.56px;
}

