.dropdown-guests-filled-in {
  display: flex;
  flex-direction: column;
  position: relative;  
}

.dropdown-guests-filled-in__header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 5px;
}

.dropdown-guests-filled-in__input {
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-left: 15px;
  outline: none;
}

.dropdown-guests-filled-in__input::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

.dropdown-guests-filled-in__expand-more{
  position: absolute;
  top: 20px;
  left: 276px;
  width: 42px;
  height: 42px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex ;
  align-items: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}

.dropdown-guests-filled-in__form{
  display:flex;
  flex-direction: column;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 159px;
  width: 320px;
  background: #ffffff;
  border-top: none;
}

