form(class="search-form__adaptive" action="#" )
  .search-form__header-adaptive Найдём номера под ваши пожелания
  .search-form__arrival-adaptive-wrapper
    include ../../form-elements/date-dropdown/arrival
  .search-form__departure-adaptive-wrapper
    include ../../form-elements/date-dropdown/departure
  .search-form__calendar-wrapper.js-search-room__calendar 
    .js-calendar       
  .search-form__guests-adaptive-wrapper.js-guests-wrapper--adaptive
    include ../../form-elements/dropdown-guests-filled-in/dropdown-guests-filled-in
  .search-form__button-adaptive-wrapper.js-search-form__button--adaptive 
    include ../../form-elements/buttons/button-price