@import "buttons-mixins.scss";

.buttons{
  display: flex;
  flex-direction: column;
}

.buttons__header{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #1F2041;
margin-bottom: 16px;
}

.buttons__block{
  display: flex;
  flex-direction: column;
}

.buttons__background,
.buttons__border,
.buttons__text{
  display: flex;
}



.button__backgroung{
  @include button;
  background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
  color: #ffffff;
  margin-bottom: 30px;
}

.button__opacity{
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)) border-box;
  border: 2px solid transparent;
  background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%, rgba(139, 164, 249, .5) 100%);
}

.button__backgroung:first-child{
  margin-right: 19px;
}

.button__border{
  @include button; 
  margin-bottom: 17px;
}

.button__border:first-child{
  margin-right: 20px;
}

.button__text{
  @include button; 
  border: 0;
  margin-right: 20px; 
  justify-content: flex-start;
}

.buttons__price{
  margin-top: 15px;
  position: relative;
  display:flex;
}



.button__price{
  @include button;
  width: 316px;
  color:#ffffff;
  background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
}

.button__arrow{
  position: absolute;
  color:#ffffff;
  left: 276px;
  cursor:pointer;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}