.room-card__form{
max-width: 270px;
height: 257px;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
position:relative;

}

.room-card__hover{
  position: absolute;
  width: 272px;
  height: 152px;
  background: #000;
  opacity: 0;
  cursor: pointer;
  display: block;
}

.room-card__hover:hover{
opacity: 0.2;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

.room-card__img{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.room-card__text{
  display: flex;
  margin: 20px 17px 0 21px;
  justify-content: space-between;
}

.room-card__header{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #1F2041;
white-space: nowrap;
}

.room-card__number{
  font-size: 19px;
}

.room-card__luxury{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #BC9CFF;
margin-top: 4px;

}

.room-card__price{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
color: rgba(31, 32, 65, 0.5);
margin-left: 26px;
white-space: nowrap;
}

.room-card-per-day{
  font-size: 12px;
  font-weight: normal;
}

.room-cards__estimation{
  display:flex;
  margin: 0 20px 0 20.20px;
  justify-content:space-between;
  align-items: center;
  position: relative;
} 

.room-card__quantity{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
  position:absolute;
  top: 6px;
  left: 139px;
  width: 90px;
}

.room-card__reviews{
  font-weight: normal;
}

.room-card__ellipces{
  display:flex;
  position:absolute;
  top:128.4px;
  left: 213.75px;
}

.room-card__ellipce{
  width: 7.5px;
  height: 7.49px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));}

  .room-card__ellipce:not(:last-child){
    margin-right: 3.75px;
  }

  .room-card__ellipce:first-child{
    background: #fff;
  }
  
  .room-card__expand-more--left:hover ~ .room-card__hover,
  .room-card__expand-more--right:hover ~ .room-card__hover{
    opacity: 0.2;
  }

  .room-card__expand-more--left,
  .room-card__expand-more--right{
  position: absolute;
  top: 53px;
  z-index: 5;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  cursor: pointer;
  transform: rotate(-90deg);
  
  }

  .room-card__expand-more--left{
    transform: rotate(90deg);
  }

  .room-card__expand-more--right{
    left:226px;
  }

.room-cards__straight{
width: 230px;
height: 1px;
background: rgba(31, 32, 65, 0.1);
margin: 10px 20px 8px 20px;
}

