extends ../../../templates/sample
block variables 
  - var titlePage = 'Form elements'
  - var textField = 'text field'
  - var dropdownGuests = 'dropdown'
  - var dropdownComfort = 'dropdown'
  - var deFault = 'default'
  - var hoverFocus = 'hover / focus'
  - var masked = 'masked text field'
  - var dateDropdownIn = 'date dropdown'
  - var dateDropdownOut = 'date dropdown'
  - var filterDateDropdown = 'filter date dropdown'
  - var subscriptionTextField = 'subscription text field'
  - var expandableCheckboxList = 'expandable checkbox list'
  - var richCheckboxButtons = 'rich checkbox buttons'
  - var checkboxButtons = 'checkbox buttons'
  - var radioButtons = 'radio buttons'
  - var toogle = 'toggle'
  - var likeButton = 'like button'
  - var rateButton = 'rate button'
  - var rangeSlider = 'range slider'
  - var buttons = 'buttons'
  - var textButton = 'click me' 
  - var pagination = 'pagination'
  - var expanded = 'expanded'
  - var expCheckList = 'expandable checkbox list'
  - var richCheckbox = 'rich checkbox buttons'
  - var bulletList = 'bullet list' 
  - var mainText = 'перейти к оплате'

block style       
  include form-elements.css
  include ../../../blocks/colors-type/logo/logo.css
  include ../../../blocks/form-elements/text-field-default/text-field-default.css
  include ../../../blocks/form-elements/text-field-hover-focus/text-field-hover-focus.css  
  include ../../../blocks/form-elements/text-field-dropdown/text-field-dropdown.css
  include ../../../blocks/form-elements/masked-text-field/masked-text-field.css
  include ../../../blocks/form-elements/date-dropdown/date-dropdown.css
  include ../../../blocks/form-elements/filter-date-dropdown/filter-date-dropdown.css
  include ../../../blocks/form-elements/subscription-text-field/subscription-text-field.css
  include ../../../blocks/form-elements/checkbox-buttons/checkbox-buttons.css
  include ../../../blocks/form-elements/radio-buttons/radio-buttons.css
  include ../../../blocks/form-elements/toogle/toogle.css
  include ../../../blocks/form-elements/like-buttons/like-buttons.css
  include ../../../blocks/form-elements/rate-buttons/rate-buttons.css
  include ../../../blocks/form-elements/slider/slider.css
  include ../../../blocks/form-elements/buttons/buttons.css
  include ../../../blocks/form-elements/pagination/pagination.css
  include ../../../blocks/form-elements/dropdown-comfort-default/dropdown-comfort-default.css
  include ../../../blocks/form-elements/dropdown-comfort-expanded/dropdown-comfort-expanded.css
  include ../../../styles/dropdown/dropdown.css
  include ../../../blocks/form-elements/dropdown-guests-empty/dropdown-guests-empty.css
  include ../../../blocks/form-elements/dropdown-guests-filled-in/dropdown-guests-filled-in.css
  include ../../../blocks/form-elements/checkbox-list-advanced/checkbox-list-advanced.css
  include ../../../blocks/form-elements/checkbox-list-closed/checkbox-list-closed.css
  include ../../../blocks/form-elements/rich-checkbox/rich-checkbox.css
  include ../../../blocks/form-elements/bullet-list/bullet-list.css
  include ../../../blocks/form-elements/comfort-indicators/comfort-indicators.css
  include ../../../blocks/form-elements/comments/comments.css
block content
  .logo__wrapper
    include ../../../blocks/colors-type/logo/logo
  .container
    .text-fields__wrapper
      .text-field-default__wrapper 
        include ../../../blocks/form-elements/text-field-default/text-field-default  
      .text-field-hover-focus__wrapper 
        include ../../../blocks/form-elements/text-field-hover-focus/text-field-hover-focus
      .text-field-dropdown__wrapper 
        include ../../../blocks/form-elements/text-field-dropdown/text-field-dropdown
      .masked-text-field__wrapper
        include ../../../blocks/form-elements/masked-text-field/masked-text-field
      .date-dropdown__wrapper
        include ../../../blocks/form-elements/date-dropdown/date-dropdown
      .filter-date-dropdown__wrapper
        include ../../../blocks/form-elements/filter-date-dropdown/filter-date-dropdown
      .subscription-text-field__wrapper
        include ../../../blocks/form-elements/subscription-text-field/subscription-text-field
    .checkbox-radio-buttons__wrapper
      .checkbox__wrapper 
        include ../../../blocks/form-elements/checkbox-buttons/checkbox-buttons
      .radio__wrapper 
        include ../../../blocks/form-elements/radio-buttons/radio-buttons-block
      .toogle__wrapper 
        include ../../../blocks/form-elements/toogle/toogle
      .like-buttons__wrapper 
        include ../../../blocks/form-elements/like-buttons/like-buttons
      .rate-buttons__wrapper 
        include ../../../blocks/form-elements/rate-buttons/rate-buttons
    .slider-buttons__wrapper
      .slider__wrapper 
        include ../../../blocks/form-elements/slider/slider
      .buttons__wrapper
        include ../../../blocks/form-elements/buttons/buttons
      .pagination__wrapper 
        include ../../../blocks/form-elements/pagination/pagination
    .dropdowns__wrapper 
      .dropdown-comfort__wrapper
        .dropdown-comfort-default__wrapper
          include ../../../blocks/form-elements/dropdown-comfort-default/dropdown-comfort-default
        .dropdown-comfort-expanded__wrapper
          include ../../../blocks/form-elements/dropdown-comfort-expanded/dropdown-comfort-expanded
      .dropdown-guests-empty__wrapper
        include ../../../blocks/form-elements/dropdown-guests-empty/dropdown-guests-empty
      .dropdown-guests-filled-in__wrapper
        include ../../../blocks/form-elements/dropdown-guests-filled-in/dropdown-guests-filled-in
    .lists__wrapper 
      .checkbox-lists__wrapper
        .checkbox-list-closed__wrapper
          include ../../../blocks/form-elements/checkbox-list-closed/checkbox-list-closed
        .checkbox-list-advanced__wrapper
          include ../../../blocks/form-elements/checkbox-list-advanced/checkbox-list-advanced
      .rich-checkbox__wrapper
        include ../../../blocks/form-elements/rich-checkbox/rich-checkbox
      .bullet-list__wrapper
        include ../../../blocks/form-elements/bullet-list/bullet-list
    .user-reviews__wrapper
      .advantages__wrapper
        include ../../../blocks/form-elements/comfort-indicators/comfort-indicators
      .comments__wrapper
        include ../../../blocks/form-elements/comments/comments
block scripts
  script 
    include ../../../blocks/form-elements/slider/slider.js
    include ../../../blocks/form-elements/dropdown-guests-filled-in/dropdown-guests-filled-in.js
    include ../../../blocks/form-elements/dropdown-guests-empty/dropdown-guests-empty.js