body{
  margin: 0px;
  padding: 0px;
max-width :1440px;
height : 1853px;
}

.container{
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;  
}

.text-fields__wrapper{
  display: flex;
  flex-direction: column;
  
  margin: 62px 0 0 141px;
  border: 1px solid;
}

.checkbox-radio-buttons__wrapper{
  display: flex;
  flex-direction: column;
  margin: 62px 132px 0 126px;
  border: 1px solid;
}

.slider-buttons__wrapper{
display: flex;
max-width: 320px;
border: 1px solid;
margin: 62px 141px 0 0
}

.text-field-default__wrapper  {
  display:flex;
  margin-bottom: 20px ;
}

.text-field-hover-focus__wrapper,
.masked-text-field__wrapper, 
.text-field-dropdown__wrapper{
  display:flex;
  margin-bottom: 20px ;
  
}

.date-dropdown__wrapper,
.filter-date-dropdown__wrapper,
.subscription-text-field__wrapper{
  display:flex;
  margin-bottom: 40px;
}


