body{
margin: 0px;
padding: 0px;
max-width : 1440px;
height : 1853px;
}

.container{
  width: 1440px;
  min-width: 320px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: flex-start;  
}

.text-fields__wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-left: 141px;
}

.checkbox-radio-buttons__wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-left: 126px;
}

.checkbox__wrapper{
  margin-bottom: 35px;
}

.slider-buttons__wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-right: 141px;
  margin-left: 132px;
}

.dropdowns__wrapper{
  display: flex;
  margin-top:61px;
}

.lists__wrapper {
  display: flex;
  margin-left:140px;
  margin-top: 40px;
}

.user-reviews__wrapper{
  display:flex;
  margin: 96px 0 0 140px;
}

.text-field-default__wrapper  {
  display:flex;
  margin-bottom: 20px ;
}

.text-field-hover-focus__wrapper,
.masked-text-field__wrapper, 
.text-field-dropdown__wrapper{
  display:flex;
  margin-bottom: 20px ;  
}

.date-dropdown__wrapper,
.filter-date-dropdown__wrapper,
.subscription-text-field__wrapper{
  display:flex;
  margin-bottom: 40px;
}

.toogle__wrapper{
  margin-top: 35px;
}

.buttons__wrapper{
  display: flex;
}

.dropdown-comfort__wrapper{
  display: flex;
  flex-direction: column;
  margin-left: 139px;
}

.dropdown-comfort-default__wrapper{
  display: flex;
  flex-direction: column;
}

.dropdown-comfort-expanded__wrapper{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.dropdown-guests-empty__wrapper{
  display: flex;
  margin-left: 181px;
}

.dropdown-guests-filled-in__wrapper{
  display: flex;
  margin-left: 72px;
}

.checkbox-lists__wrapper,
.bullet-list__wrapper,
.rich-checkbox__wrapper{
  margin-top: 117.44px;
}


.checkbox-list-advanced__wrapper{
  display: flex;
  
}

.rich-checkbox__wrapper{
    margin-left: 180px;
}

.bullet-list__wrapper{
  margin-left: 126px;
}

.comments__wrapper{
  margin-top: 10px;
}