body {
  margin: 0px;
  padding: 0px;
  max-width: 1440px;
  height: 1853px;
}

.container {
  width: 1440px;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.text-fields__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 62px;
  margin-left: 141px;
}

.checkbox-radio-buttons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 62px;
  margin-left: 126px;
}

.slider-buttons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 62px;
  margin-right: 141px;
  margin-left: 132px;
}

.dropdowns__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 58px;
}

.lists__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 141px;
  margin-top: 40px;
}

.user-reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0 0 140px;
}

.text-field-default__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.text-field-hover-focus__wrapper,
.masked-text-field__wrapper,
.text-field-dropdown__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.date-dropdown__wrapper,
.filter-date-dropdown__wrapper,
.subscription-text-field__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.toogle__wrapper {
  margin-top: 35px;
}

.buttons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-comfort__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 141px;
}

.dropdown-comfort-default__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown-comfort-expanded__wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown-guests-empty__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 181px;
}

.dropdown-guests-filled-in__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 72px;
}

.checkbox-list-advanced__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.rich-checkbox__wrapper {
  margin-left: 180px;
}

.bullet-list__wrapper {
  margin-left: 126px;
}
/*# sourceMappingURL=form-elements.css.map */